@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: "Coiny", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container{
    display: flex;
    flex-direction: row;
}

.image{
    text-align: left;
    max-width: 60rem;
}

.form-container{
    display: flex;
    flex-direction: column;
    background-color: #eee;
    padding: clamp(3rem, 1rem + 10vw, 7rem);
}

.header{
    line-height: -10rem;
}

.header p{
    font-size: 2.4rem;
}

.header h2{
    margin-top: 3rem;
}

.register-container{
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 2.4rem;
    -webkit-box-shadow: 0px 16px 13px -16px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 16px 13px -16px rgba(66, 68, 90, 1);
    box-shadow: 0px 16px 13px -16px rgba(66, 68, 90, 1);
    padding: 1rem;
}

.inputs input{
    padding: 1.5rem;
    min-width: 40rem;
    border: none;
    background-color: #eee;
    border-bottom: 0.3rem solid #9b9a9a;
}

input:focus{
    border-bottom: 0.3rem solid #9b9a9a;
    outline: none;
}

input:not(:focus):not(:placeholder-shown):invalid{
    outline: none;
    border-bottom: 0.3rem solid red;
}

input:not(:focus):not(:placeholder-shown):invalid ~ .error-message {
    display: block;	
  }

  input:not(:focus):not(:placeholder-shown):valid {
    outline: none;
    border-bottom: 0.3rem solid green;
  }

#submit{
    margin-top: 3.5rem;
    padding: 1.5rem;
    min-width: 40rem;
    border-radius: 0.6rem;
    cursor: pointer;
    font-size: 2rem;
}

#submit:hover{
    background-color: rgb(126, 250, 88);
}

#login{
    font-size: 2rem;
}


