@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');

:root{
    --bg-blue: #2BCBD9;
    --bg-red: #E21A4B;
    --primary-white: #fff;
    --valid-input: rgb(70, 209, 16);
    --default-border: #9b9a9a;
    --default-gray: #eee;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: "Coiny", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container{
    display: flex;
    flex-direction: row;
}

.image{
    text-align: left;
    max-width: 60rem;
}

.form-container{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, var(--bg-blue), var(--bg-red));
    padding: clamp(3rem, 1rem + 10vw, 7rem);
}

.header{
    line-height: -10rem;
}

.header p{
    font-size: 2.4rem;
    color: var(--primary-white);
}

.header h2{
    margin-top: 3rem;
    color: var(--primary-white);
}

.register-container{
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

h1{
    color: var(--primary-white);
}

.inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 2.4rem;
    -webkit-box-shadow: 0px 16px 13px -16px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 16px 13px -16px rgba(66, 68, 90, 1);
    box-shadow: 0px 16px 13px -16px rgba(66, 68, 90, 1);
    padding: 1rem 1rem 3.4rem 1rem;
}

.inputs input{
    padding: 1.5rem;
    min-width: 40rem;
    border: none;
    background-color: var(--default-gray);
    border-bottom: 0.3rem solid var(--default-border);
}

input:focus{
    border-bottom: 0.3rem solid #000000;
    outline: none;
}

input:not(:focus):not(:placeholder-shown):invalid{
    outline: none;
    border-bottom: 0.4rem solid var(--bg-red);
}

input:not(:focus):not(:placeholder-shown):invalid ~ .error-message {
    display: block;	
  }

  input:not(:focus):not(:placeholder-shown):valid {
    outline: none;
    border-bottom: 0.4rem solid var(--valid-input);
  }

#submit{
    margin-top: 3.5rem;
    padding: 1.5rem;
    min-width: 40rem;
    border-radius: 0.8rem;
    cursor: pointer;
    font-family: "Coiny", sans-serif;
    font-size: 2.4rem;
    border: 0.2rem solid var(--primary-white);
    outline: none;
    transition: 0.3s ease-in-out;
}

#submit:hover{
    background-color: var(--bg-red);
    color: var(--primary-white);
}

#submit:active{
    transform: scale(0.9);
}

#login{
    font-size: 2rem;
    color: var(--primary-white);
}

a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary-white);
}

a:hover{
    text-decoration: underline;
    color: var(--bg-red);
}


